################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PresentationTier/NETCoreTemplate.AngularUI/bin
/PresentationTier/NETCoreTemplate.AngularUI/obj
/DataTier/NETCoreTemplate.Database/bin
/DataTier/NETCoreTemplate.Database/obj
/ApplicationTier/NETCoreTemplate.Entity/bin
/ApplicationTier/NETCoreTemplate.Entity/obj
/ApplicationTier/NETCoreTemplate.Repository/bin
/ApplicationTier/NETCoreTemplate.Repository/obj
/ApplicationTier/NETCoreTemplate.Service/bin/Debug/netcoreapp3.1
/ApplicationTier/NETCoreTemplate.Service/bin/Release/netcoreapp3.1
/ApplicationTier/NETCoreTemplate.Service/obj
/ApplicationTier/NETCoreTemplate.Web(Razor)/bin
/ApplicationTier/NETCoreTemplate.Web(Razor)/obj
/ApplicationTier/NETCoreTemplate.WebAPI/bin
/ApplicationTier/NETCoreTemplate.WebAPI/obj
/ApplicationTier/NETCoreTemplate.Domain/bin
/ApplicationTier/NETCoreTemplate.Domain/obj
/ApplicationTier/NETCoreTemplate.Infrastructure/bin
/ApplicationTier/NETCoreTemplate.Infrastructure/obj
/ApplicationTier/ApplicationTier.Domain/bin
/ApplicationTier/ApplicationTier.Domain/obj
/ApplicationTier/ApplicationTier.Infrastructure/bin
/ApplicationTier/ApplicationTier.Infrastructure/obj
/ApplicationTier/ApplicationTier.Service/bin
/ApplicationTier/ApplicationTier.Service/obj
/ApplicationTier/ApplicationTier.WebAPI/bin
/ApplicationTier/ApplicationTier.WebAPI/obj
/ApplicationTier/ApplicationTier.WebAPI/Properties/PublishProfiles
/ApplicationTier/ApplicationTier.WebAPI/Properties/ServiceDependencies/AvalonWeb20200626142129 - Web Deploy
/DataTier/DataTier.Database/bin
/DataTier/DataTier.Database/obj
/DataTier/DataTier.SqlServer/bin
/DataTier/DataTier.SqlServer/obj
/PresentationTier/PresentationTier.AngularUI/bin
/PresentationTier/PresentationTier.AngularUI/obj
/ApplicationTier/ApplicationTier.API/bin/Debug/net5.0
/ApplicationTier/ApplicationTier.API/obj
/ApplicationTier/ApplicationTier.API/bin/Release/net5.0
/.vs
/ApplicationTier/.vs/ApplicationTier
/ApplicationTier/ApplicationTier.API/Properties/PublishProfiles
/DataTier/.vs/DataTier/v16
/PresentationTier/.vs/PresentationTier/v16
/PresentationTier/PresentationTier.AngularUI/package-lock.json
